In [ ]:
# requires
# pip3 install --upgrade google-cloud-BigQuery
# pip3 install pandas_gbq

In [1]:
from google.oauth2 import service_account
import pandas_gbq
import pandas as pd

In [4]:
import requests
import json
import datetime
import time

In [5]:
def date_to_seconds(year=2021, month=1, day=1):
    return time.mktime( datetime.datetime(year, month, day, 23, 59).timetuple() )

In [55]:
ticker = 'SPYD'
ticker2 = 'ARCC'
period1 = int(date_to_seconds(2021,3,15))
period2 = int(date_to_seconds(datetime.date.today().year,
                              datetime.date.today().month,
                              datetime.date.today().day))

In [56]:
url = (
    'https://query1.finance.yahoo.com/v8/finance/chart/{0}?symbol={0}&interval=1d&events=history&period1={1}&period2={2}'
    .format(ticker,period1, period2)
      )
url2 = (
    'https://query1.finance.yahoo.com/v8/finance/chart/{0}?symbol={0}&interval=1d&events=history&period1={1}&period2={2}'
    .format(ticker2,period1, period2)
      )

In [57]:
a = requests.get(url).json()
b = requests.get(url2).json()

### make a single dataframe with spyd and arcc data as columns for each date

In [58]:
def make_stock_df(json_request_data):
    ts = json_request_data['chart']['result'][0]['timestamp']
    ts = pd.Series(ts).apply(lambda x: datetime.date.fromtimestamp(x))
    
    sp = json_request_data['chart']['result'][0]['indicators']['quote'][0]['close']
    
    stock_data = (pd
              .concat([pd.Series(ts),pd.Series(sp)], 
                      axis=1)
              .rename({0:'date',1:'stock_price'},
                      axis=1)
             )
    
    return stock_data

In [59]:
make_stock_df(a).head(3)

         date  stock_price
0  2021-03-16    39.369999
1  2021-03-17    39.619999
2  2021-03-18    39.240002

In [60]:
make_stock_df(b).head(3)

         date  stock_price
0  2021-03-16    18.690001
1  2021-03-17    18.690001
2  2021-03-18    18.100000

In [24]:
# credentials = service_account.Credentials.from_service_account_file(
#     '/Users/chrismatthews/.dbt/dbt_user_creds.json',
# )
# project_id = 'bold-artifact-312304'
# table_id = 'RAW_DB.raw_equity_data'

In [28]:
# pandas_gbq.to_gbq(
#     stock_data,
#     table_id,
#     project_id=project_id,
#     if_exists='replace'
# )

In [51]:
# stock_data.to_gbq(destination_table=table_id)